div.nav
  div.nav-wrap
    div.nav-logo
    ul.nav-ul
      li.nav-list
        a(class='nav-link' href='/') 首页
      li.nav-list
        a(class='nav-link' href='/list') 个人相册
      if !userId
        li.nav-list
          a(class='nav-link' href='/login') 登录
      if !userId
        li.nav-list
          a(class='nav-link' href='/register') 注册
      if userId
        li.nav-list
          a(class='nav-link' href='/logout') 登出