.colorPickerbox {
  font-size:100px;width:2em;height: 2em;@include transform(translateX(-1000px));
  top:-webkit-calc(50% - 1em);left:-webkit-calc(50% - 1em);top:calc(50% - 1em);left:calc(50% - 1em);
  position: absolute;
}

#colorPicker {
  position: absolute;
  top: 0;
  left: 0;
}

.btnWrap {
  position: absolute;
  left: 0;
  top: 0;
}
/* 内外按钮 */

.insideBtn,
.outsideBtn {
  position: absolute;
  width: 2px;
height: 2px;
  box-sizing: border-box;
  border: solid 1px #B3B3B3;
  border-radius: 50%;
}