.form {
  &-title {
    color: #fff;
    text-align: center;
    font-size: to(64);
    padding: to(50) 0 to(20);
    margin: 0 to(30) to(30);
    letter-spacing: 4px;
    border-bottom: 1px solid currentColor;
  }
  &-wrap {
    padding: 0 to(20);
    .codePic {
      width: 100%;
    }
  }
  &-layout {
    display: block;
    margin-bottom: to(40);
    padding: 0 to(10) to(20);
    @include all_center;
    border-bottom: 1px solid #fff;
    &-txt,
    &-input {
      display: block;
    }
    &-left {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: to(80);
      img {
        width: to(50);
      }
    }
    &-txt {
      font-size: to(28);
    }
    &-input {
      flex: 1;
      border: solid 1px #D8D7D7;
      padding: to(10) 0;
      text-indent: .5em;
      font-size: to(28);
      border-radius: to(20);
      color: #fff;
      &::-webkit-input-placeholder {
        color: #fff;
      }
    }
  }
  &-submit {
    padding: to(5) to(80);
    border: solid 1px currentColor;
    color: #D8D7D7;
    font-size: to(42);
  } // 注册成功
  &-success {
    text-align: center;
    font-size: to(42);
    padding-top: to(50);
    &-title {
      font-size: to(56);
      color: $bcTxt;
      padding-bottom: to(50);
    }
    &-error {
      color: $errorColor;
      padding: to(30) 0;
    }
    &-link {
      color: $bcTxt;
      padding-bottom: to(10);
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: to(200);
        height: 1px;
        background: currentColor;
      }
    }
  } // 错误信息
  &-errorMsg {
    padding: 0 0 to(40);
    text-align: center;
    color: $errorColor;
    font-weight: bold;
    font-size: to(42);
  }
  &-prompt {
    height: to(120);
    line-height: to(120);
    color: $errorColor;
    text-align: center;
    letter-spacing: 2px;
    font-size: to(42);
  }
}
