.form {
  &-iconTitle {
    padding: to(50) 0 to(20);
    margin: 0 to(30) to(30);
    letter-spacing: 4px;
    img {
      width: to(100);
      height: to(100);
      display: block;
      margin: 0 auto;
    }
  }
  &-wrap {
    padding: 0 to(20);
    .codePic {
      width: 80%;
      margin: 0 auto;
    }
  }
  &-layout {
    display: block;
    margin-bottom: to(40);
    padding: 0 to(10) to(20);
    @include all_center;
    &-txt,
    &-input {
      display: block;
    }
    &-left {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: to(80);
      img {
        width: to(50);
      }
    }
    &-txt {
      font-size: to(28);
    }
    &-input {
      flex: 1;
      padding: to(20) 0;
      text-indent: .5em;
      font-size: to(28);
      border-bottom-left-radius: to(20);
      border-bottom-right-radius: to(20);
      color: #fff;
      border-bottom: 1px solid #D8D7D7;
      &::-webkit-input-placeholder {
        color: #fff;
      }
    }
  }
  &-codePicLayout {
    border-bottom: 0;
  }
  $waveW: 50px;
  $waveH: 50px;
  &-submit {
    position: relative;
    width: $waveW;
    height: $waveH;
    background-color: rgb(118, 218, 255);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: $waveW * 2;
      height: $waveH * 2;
      top: 0;
      left: 50%;
      background-color: rgba(255, 255, 255, .4);
      border-radius: 45%;
      transform: translate3d(-50%, -70%, 0) rotate(0);
      animation: rotate 6s linear infinite alternate;
      z-index: 10;
    }
    &::after {
      border-radius: 49%;
      background-color: rgba(255, 255, 255, .7);
      transform: translate3d(-50%, -73%, 0) rotate(0);
      animation: rotate 10s linear -5s infinite alternate;
      z-index: 20;
    }
    &-btn {
      position: relative;
      z-index: 21;
      font-size: to(28);
      color: rgb(18, 82, 155);
      text-align: center;
      display: block;
      width: 100%;
    }
  }
  @keyframes rotate {
    50% {
      transform: translate3d(-50%, -73%, 0) rotate(180deg);
    }
    100% {
      transform: translate3d(-50%, -70%, 0) rotate(360deg);
    }
  } // 注册成功
  &-success {
    text-align: center;
    font-size: to(42);
    padding-top: to(50);
    &-title {
      font-size: to(56);
      color: $bcTxt;
      padding-bottom: to(50);
    }
    &-error {
      color: $errorColor;
      padding: to(30) 0;
    }
    &-link {
      color: $bcTxt;
      padding-bottom: to(10);
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: to(200);
        height: 1px;
        background: currentColor;
      }
    }
  } // 错误信息
  &-errorMsg {
    padding: 0 0 to(40);
    text-align: center;
    color: $errorColor;
    font-weight: bold;
    font-size: to(42);
  }
  &-prompt {
    height: to(120);
    line-height: to(120);
    color: $errorColor;
    text-align: center;
    letter-spacing: 2px;
    font-size: to(42);
  }
}
