@import 'tool/common';
html, body, .main{
	height: 100%;
}
body{
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	-webkit-highlight: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.page-bg{
  background: $bcBg;
  height: 100vh;
}
// components
@import 'components/header';

// page
@import 'home';
@import 'play';
@import 'login';
@import 'list';