 @import 'tool/common';

html,body,.main{
	height: 100%;
}
body{-webkit-touch-callout: none; -webkit-text-size-adjust: none; -webkit-user-select: none; -webkit-highlight: none; -webkit-tap-highlight-color: rgba(0,0,0,0); }
	.main_top{
		height: 85%;background:#E3E3E3;
	}
	.main_bottom{
		height: 15%;background:#EAC7C7;
	}

	.main{
		-webkit-touch-action: none; -ms-touch-action: none;touch-action: none; 
	}

#lastImg {
  position: absolute;top:-5555px;
}
	//上传文件按钮
	#file{
		width:80px;
	}
	#cretea {
	  width: 30%;
	}

	//选择框
	#selectPicSize{
		padding:15px 0;width:60px;font-size:14px;border:0;outline:0;border-radius:10px;font-weight: bold;
	}

	//提示层
	.zhezhao{
		width: 100%;height: 100%;background:rgba(0,0,0,.7);top: 0;left: 0;display: none;
	}
	.msg{
		width: 80%;padding:20px 0;font-size:20px;text-align: center;background:white;
		top:50%;margin-top: -20px;left:10%;display: none;color:#BC6666;
	}

	//撤销
	#revoke{
		font-size:12px;font-weight: bold;padding:10px;background:#C0C0C0;
		border-radius: 10px;display: none;
	}

	//color选择器
	.colorBtn{
		background:#000000;width:50px;height:25px;box-shadow:0 0 5px 3px #9A9A9A;
	}
		.colorPickerbox {
			font-size:100px;width:2em;height: 2em;@include transform(translateX(-1000px));
	    top:-webkit-calc(50% - 1em);left:-webkit-calc(50% - 1em);top:calc(50% - 1em);left:calc(50% - 1em);
	    position: absolute;
	  }
	  
	  #colorPicker {
	    position: absolute;
	    top: 0;
	    left: 0;
	  }
	  
	  .btnWrap {
	    position: absolute;
	    left: 0;
	    top: 0;
	  }
	  /* 内外按钮 */
	  
	  .insideBtn,
	  .outsideBtn {
	    position: absolute;
	    width: 2px;
    height: 2px;
	    box-sizing: border-box;
	    border: solid 1px #B3B3B3;
	    border-radius: 50%;
	  }
		.color_show{
			width: 100px;height: 100px;top: 50%;left: 50%;margin-top: -50px;margin-left: -50px;
		}

	//侧边栏
	#aside{
		width:75px;height: 100%;top: 0;background:#F37676;height: 100%;position: absolute;
	right: 0;display: none;
	}

	//按钮
	.asideBtn{
		padding:10px;font-weight: bold;background:#C8C8C8;color:#433C3C;border-radius:10px;display: none;
	}
		.aside_wrap{
			height: 100%;width: 100%;
		}
	//range
	.rangeWrap{

		p{padding:10px 0;text-align: center;font-size:12px;}
	}
		.rangeLine{
			width: 2px;height: 100px;background: black;margin:0 auto;
		}
		.rangeBtn{
			top: 0;left: -12.5px;border-radius: 50%;width: 25px;height: 25px;background:#484848;
			@include transform(translateY(42.5px));
		}

	//滤镜
	#filterBtn{
		padding:5px;background:#FFFFFF;box-shadow:0 0 5px 5px #B8B8B8;font-size: 12px;display: none;
	}
	#filterBox{
		bottom: 0;left: 0;width: 100%;min-height:120px;background:#DFA3A3;position: absolute;
		display: none;/* @include transform(translateY(200px));opacity: 0; */
		 @include f_dire_c; @include f_jc_sa;
		.title{
			padding:15px 0;
			span{
				font-size:14px;
			}
		}
		.content{

			input[type='range']{
				width:65%;height:30px;
			}
			span{
				font-size:14px;
			}
		}
		.list{padding:8px;@include flex;@include f_jc_sa;@include f_ai_center;}
		.close{
			top:5px;right: 5px;font-size:14px;color:#313131;cursor: pointer;background:#C3C3C3;border-radius:50%;padding:8px 3px;
		}
	}

		#filterSelect{
			border:0;font-size:12px;width:120px;height:30px;font-weight: bold;
		}

