html
head
  meta(charset="UTF-8")
  title H5-Canvas-Image
  script(src='common/js/rem.js')
  link(rel="stylesheet" href="dist/css/index.css")
body
  - if (true)
    //- !-- 内容 --
    main(class="main oh pos_r")
      //- !-- top --
      section(class="main_top")
        //- !-- 展示图片,编辑图片画布 --
        canvas(height='300' id='canvas')
        //- !-- 最终生成的图片 --
        img(src="" id='lastImg' alt="")
      //- !-- bottom --
      section(class="main_bottom flex f_jc_sa f_ai_center")
        //- !-- 上传图片按钮 --
        div(class="btnType file_wrap")
          input(type="file" id='file' accept="image/jpg,image/jpeg,image/png,image/gif")
          p 点击上传图片
        //- !-- 生成图片按钮 --
        div(class='btnType dn' id='create') 生成图片
        div(class='btnType' id="filterBtn") 选择滤镜
        //- !-- 撤销功能 --
        div(class='btnType' id="revoke") 撤销
        //- !-- 侧边栏按钮 --
        div(class="btnType asideBtn") 工具
        a(href='/list' class='toPersonPic btnType') 回到个人相册
      //- !-- 滤镜选择 --
      section(id="filterBox" )
        div(class='flex f_ai_center f_jc_center filterBox_wrap')
          div(class="title flex f_jc_center f_ai_center")
            span 选择滤镜风格：
            select(id="filterSelect")
              option(value="") 请选择滤镜
              option(value="HSLAdjustment") HSL
              option(value="GrayScale") GrayScale
              option(value="Gamma") Gamma
              option(value="BrightnessContrastGimp") BrightnessContrastGimp
              option(value="Edge") Edge
              option(value="Emboss" ) Emboss
              option(value="Invert") Invert
              option(value="Oil") Oil
              option(value="Solarize") Solarize
              option(value="Twril") Twril
        //- !-- range --
        div(class="content")
        //- !-- close按钮 --
        div(class="close pos_a") 关闭
      //- !-- 侧边栏 --
      aside(id="aside")
        div(id='user' userId= userId)
        div(class="aside_wrap flex f_dire_c f_jc_sa f_ai_center")
          //- !-- 颜色按钮 --
          div(class="colorBtn") 
          div(class="rangeWrap")
            //- !-- 线条粗细 --
            div(class='rangeLine pos_r')
              div(class='rangeBtn pos_a user_select')
            p 宽度：5
          //- !-- 选择图片放大方式 --
          select(id="selectPicSize") 
            option(value="1") 居中
            option(value="2") 填充
            option(value="3") 适应
            option(value="4") 拉伸
          div(class="btnType aside_hideBtn") 关闭
      //- !-- 提示层 --
      div(class="zhezhao pos_a")
      div(class='msg pos_a') 正在处理中
        span(class='an_loading1') .
        span(class='an_loading2') .
        span(class='an_loading3') .
      //- !-- 颜色选择器 --
      div(class='colorPickerbox')
        canvas(id='colorPicker')
        div(class="btnWrap")
      div(class="color_show pos_a dn")
      div.successPage
        a(href='/') 继续生成新的图片
        a(href='/list?d=' + userId) 查看相册
      script(src='common/js/jquery.js')
      script(src='dist/js/index/index.js')
  - else
    div 未登陆