DOCTYPE 
html
  head
    title Canvas-Image-processing
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
    link(rel='stylesheet' href='/dist/css/index.css')
    block link
    script.
      (src='common/js/rem.js')
    block scripts
  body
    include ./components/header.pug
    div
      block content
    block script_f
      script(src='./common/js/jquery.js')
    block script_b
    block foot
    
