extends ./layout.pug
block content
  main(class='page-bg form-changeBg')
    div.login
      div.login-wrap
        div.form-iconTitle
          img(src='/images/icon/login.png')
      form(class='form-wrap' method='post' action='/login')
        -var codeId = codeData.id
        -console.log('login-data::', data)
        input(type='text' name='codeId' class='dn codeId' value= codeId)
        label.form-layout
          .form-layout-left
            img(src='/images/icon/email.png')
          input(type='text' name='email' class='form-layout-input form-layout-input-email' placeholder='请输入邮箱')
        label.form-layout
          .form-layout-left
            img(src='/images/icon/password.png')
          input(type='password' name='pwd' class='form-layout-input form-layout-input-pwd' placeholder='请输入密码')
        label(class='form-layout form-codePicLayout')
          img(class='codePic' src= codeData.img)
        label.form-layout
          .form-layout-left
            img(src='/images/icon/code.png')
          input(type='text' name='code' class='form-layout-input form-layout-input-code' placeholder='请输入验证码，不区分大小写')
      -if (data && data.status.errCode !== 200) {
        div.form-errorMsg= data.status.message
      -}
      div(class='level_center')
        .form-submit
          button(class='form-submit-btn' type='submit') 登录
  block script_b
    script(src='/dist/js/form/login.js')