extends ./layout.pug
block content
  main(class='page-bg form-changeBg')
    div.register
      div.register-wrap
        div.form-iconTitle
          img(src='/images/icon/register.png')
      form(class='form-wrap' method='post' action='/success')
        label.form-layout
          .form-layout-left
            img(src='/images/icon/user.png')
          input(type='text' name='user' class='form-layout-input form-layout-input-user' placeholder='请输入用户名')
        label.form-layout
          .form-layout-left
            img(src='/images/icon/email.png')
          input(type='text' name='email' class='form-layout-input form-layout-input-email' placeholder='请输入邮箱')
        label.form-layout
          .form-layout-left
            img(src='/images/icon/password.png')
          input(type='password' name='pwd' placeholder='请输入密码，首字母大写，8-30位的数字、字母' class='form-layout-input form-layout-input-pwd')
        label.form-layout
          .form-layout-left
            img(src='/images/icon/password.png')
          input(type='password' name='checkPwd' placeholder='请输入确认密码' class='form-layout-input form-layout-input-checkPwd' )
      div.form-prompt  
      -if (data && data.status.errCode !== 200) {
        div.form-errorMsg= data.status.message
      -}
      div(class='level_center')
        .form-submit
          button(class='form-submit-btn' type='submit') 注册
  block script_b
    script(src='/dist/js/form/register.js')